sudo: false
language: go
go:
  - "1.9"
  - "1.10"
  - "1.11"
  - tip
env:
  - GOOS=linux GOARCH=amd64
  - GOOS=linux GOARCH=arm
  - GOOS=linux GOARCH=mips
  - GOOS=windows GOARCH=amd64
  - GOOS=darwin GOARCH=amd64
go_import_path: github.com/openchirp/framework
# Don't run tests
script: true